.ww-extractor-aside {
    background-color: #ffffff !important;
    border: 1px solid #aaaaaa36 !important;
    bottom: 4px !important;
    box-sizing: border-box !important;
    padding: 4px !important;
    position: fixed !important;
    right: 4px !important;
    border-radius: 3px !important;
    box-shadow: 0 0 1em 0.25em rgba(0,0,0,0.1) !important;
    z-index: 100 !important;
}

.ww-extractor-extract-button {
    box-sizing: border-box;
    display: inline-block;
    padding: 6px 12px;
    margin-top: 15px;
    margin-right: 5px;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 0;
    border-radius: 3px;
    color: #fff;
    background-color: #00b9ff;
    text-decoration: none;

    -webkit-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

.ww-extractor-extract-button:hover {
    background-color: #00a4df;
}

.ww-extractor-extract-button:active {
    background-color: #008ec0;
}

.ww-extractor-cancel-button {
    box-sizing: border-box;
    display: inline-block;
    padding: 6px 12px;
    margin-top: 15px;
    margin-left: 5px;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 0;
    border-radius: 3px;
    color: #fff;
    background-color: #d65a57;
    text-decoration: none;

    -webkit-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

.ww-extractor-cancel-button:hover {
    background-color: #00a4df;
}

.ww-extractor-cancel-button:active {
    background-color: #008ec0;
}

.ww-extractor-centered {
    text-align: center;
}

.ww-extractor-site-selector-input {
    display: block;
    padding: 0.5em 0.25em;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 0.2em;
    box-shadow: 0 0 1em 0.25em rgba(0,0,0,0.1);
}

.ww-extractor-css-selector-input {
    display: block;
    padding: 0.5em 0.25em;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 0.2em;
    box-shadow: 0 0 1em 0.25em rgba(0,0,0,0.1);
}